#calculator{
    border: 2px solid black;
    border-radius: 6px;
    width: 150px;
    
}
#display{
    margin: 10px;
    width: 80%;
}
.button{
    width: 40px;
    height: 40px;
    margin: 3px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}